node_modules/
dist/
.DS_Store

backend/config.json
backend/__pycache__/
*.pyc
.env

.streamlit/secrets.toml
.streamlit/
__pycache__/
*.pyc
.env
backend/config.json


# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
